/*Adding in custom colours*/

:root {
  --clr-ourGreen: rgb(6, 214, 160);
  --clr-ourLightblue: rgb(50, 164, 220);
  --clr-ourPink: rgb(239, 71, 111);
  --clr-ourDarkblue: rgb(7, 59, 76);
  --clr-ourYellow: rgb(255, 209, 102);
  --clr-ourBackground: rgb(149, 185, 202);
}



* {
    box-sizing: border-box; /* use traditional box model sizing */
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--clr-ourBackground);
    color:white;
  }
    
  /* .screen class applies to all screens */
  .screen {
    max-width: 480px; /* mimic largest phone width */
    width: 100vw; /* width of viewport */
    height: calc(100vh - 4.5rem); /* height of viewport minus height of #navigation menu */
    margin: 0 auto;
    padding: 20px 10px;
    overflow: auto;
    border: 1px solid #888888;
    /* can add other CSS for all screens, such as background-color, etc. */
  
  }
  
  /* show #screen1 when app first starts */
  #screen1 {
      display: block;
  }
  
  /* hide other screens when app first starts */
  #screen2, #screen3, #screen4 {
      display: none;
  }
  
  
  /* #navigation menu fixed to bottom of viewport */
  #navigation {
    position: fixed; /* fix to viewport */
    bottom: 0; /* place at bottom of viewport */
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 480px; /* mimic largest phone width */
    width: 100vw; /* width of viewport */
    height: 4.5rem;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #888888;
    font-size: 1rem;
  }
  
  /* nav menu options */
  nav > a {
      display: inline-block;
      /* for max-width and width, divide by number of screens */
      max-width: calc((480px / 4) - 4px);
      width: calc((100vw / 4) - 4px);
      margin: 0;
      padding: 0.5em 0;
      text-align: center;
      background-color: #ffffff;
      transition: 0.3s;
  }
  
  
  /* .active class indicates current screen within nav menu */
  nav > a.active {
      background-color: #ffffff;
      color: black;
  }
  
  /* nav menu icon label */
  nav > a > p {
      font-size: 0.75em;
      margin: 0.5em 0 0;
  }
  
/* Images styling */

img{
  height: 20%;
  width: 40%;
  margin-bottom: 100px;
}

.course__image{
  width: 85%;
  height:70%;
  border:solid 4px white;
  border-radius: 10px;
}

.welcome__logo{
  height: 40%;
  width: 80%;
}

#socs__logo{
  margin-bottom: 20px;
}

#tiny__socs{
width:2rem;
height: 2rem;
}

.heading{
  padding-block: 2rem;
  margin: 2rem;
  color: white;
  background-color: rgb(6, 214, 160);
  border:solid 10px white;
  border-radius: 10px;
}


.button__group{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  
}

button{
  border-radius: 10px;
  border: solid 2px white;

}

.welcome__screen{
  margin-bottom: 200px;
}

hr{
  margin-bottom: 500px;
}

a{
    text-decoration: none;
}

#week__button, #topic__button, #overview__button{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}



/* Heading Styling*/

.heading__overview{
  margin-bottom: 300px
}

.heading__post{
  background-color:var(--clr-ourPink);
}

.heading__search{
  background-color: var(--clr-ourLightblue);
}

.heading__delete{
  background-color: var(--clr-ourYellow);
}

.pick__week{
display: flex;
vertical-align: bottom;
gap: 3rem;
}



/* Nav link & icon styling */
#home__link{
  color: var(--clr-ourGreen);
}

#plus__link{
  color:var(--clr-ourPink)
}

#search__link{
  color: var(--clr-ourLightblue);
}

#bin__link{
  color:var(--clr-ourYellow);
}

#home__icon{
  color: rgb(6, 214, 160);
}

#plus__icon{
  color:var(--clr-ourPink)
}

#search__icon{
  color: var(--clr-ourLightblue);
}

#bin__icon{
  color: var(--clr-ourYellow)
}

#back__icon{
  color: black;
}

#resource__container__week, #resource__container__subject{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
align-items: center;
border:solid 2px white;
border-radius: 10px;
color: white;
font-weight: bold;
font-size: 1rem;
background-color: var(--clr-ourGreen);
}

#resource__container__week > a {
text-decoration:underline;
}


.pick__week{
  padding-top: 1.5rem;
}
